################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProxyPattern/.vs/ProxyPattern/DesignTimeBuild/.dtbcache.v2
